<!DOCTYPE html>
<html>
<head>
  <title>RccApp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="site-header">
		<header>
			<h1>Site Header</h1>
		</header>
	</div>
	<%= yield %>	
</div>


</body>
</html>
